/* Set up basics and nav bar */
body {
  background: #1D2951 !important;
  color: #DBD1B4 !important;
  padding-top: 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

a {
  color: #DBD1B4 !important;
}

.milonga {
  font-family: "Milonga", Georgia, Cambria, "Times New Roman", Times, serif;
}

.chem-symbol {
  font-family: "Alchemy", sans-serif;
}

.nav-tabs {
  border-bottom: 1px solid #0E1325;
  font-size: 20px;
}

.nav-item {
  background-color: #1D2951;
}

.nav-tabs .nav-link.active {
  background: #5F567C;
  color: #495057 !important;
  border-color: #5F567C;
}

.nav-tabs .nav-link.active:hover {
  background: #5F567C;
  color: white;
  border-color: #5F567C;
}

.nav-tabs .nav-link:hover {
  background-color: #293970;
  border-color: #293970;
  color: #DBD1B4 !important;
}

.badge {
  background: #5F567C;
  border-color: #5F567C;
  color: #DBD1B4;
}

/* Set up inputs and buttons */

.form-control {
  background-color: #DBD1B4 !important;
}

.input-group-text {
  background-color: #c5b587;
}

.action-button {
  background: #5F567C;
  border-color: #5F567C !important;
  color: #DBD1B4 !important;
}


/* Top alerts */

.load-indicator-parent {
  text-align: center;
}

.warning-link {
  color: black;
}

/* checker tab stuff */

.property-column {
  margin-top: 8px;
}

.search-box {
  padding: 0px;
  margin-bottom: 8px;
}

.checker-tab-header-text {
  font-size: 18px;
  text-align: center;
}

.check-recipes-button {
  margin-top: 8px;
}

/* Property tab stuff */

.list-group-item {
  background-color: #1D2951;
  border-color: #DBD1B4;
}

/* Print tab stuff */

.print-button-container {
  text-align: center;
}

/* set up modal */
.modal-content {
  background-color: #1D2951;
}

.close {
  color: #DBD1B4;
}

.close:hover {
  color: #DBD1B4;
}

.new-recipe-modal {
  width: 500px;
  background:#1D2951;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#dropdownRecipeForm {
  background: #5F567C;
  border-color: #5F567C !important;
  color: #DBD1B4 !important;
}

#dropdownRecipeType {
  background: #5F567C;
  border-color: #5F567C !important;
  color: #DBD1B4 !important;
}

.dropdown-menu {
  background-color: #1D2951;
}
